{{#each blogs as |blog|}}
  {{#if (loggedIn)}}
  <section data-blog="{{blog._id}}">
    <div class="card" style="width: 1000px; height: 290px;">
      <div id="card-display" class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text blog-text">{{blog.text}}</p>
        </div>
      <div id="loggedInButtonWrapper" class="loggedInButtonWrapper">

        {{#if (blogOwned blog.owner)}}
    <button data-blog="{{blog._id}}" class="btn btn-outline-dark blog-update button">Update</button>
    <form data-blog="{{blog._id}}" class='update-form'>
      <input type="text" name="blog[title]" placeholder="old title">
      <input type="text" name="blog[text]" placeholder="old text">
      <input type="submit" class="button">
    </form>
    <button data-blog="{{blog._id}}" class="btn btn-danger blog-delete button">delete</button>
    {{/if}}
  </div>
  <div class="comment-list">
  </div>
  {{#each ../comments as |comment|}}
  {{#if (commentBelongsTo blog._id comment.blog)}}
  <div data-id="{{comment._id}}">
    <div id="{{this._id}}" class="tiny">
      {{this.owner.email}}
      <br>
      {{this.text}}
      {{#if (commentOwned this.owner._id)}}
      <!-- Unfortunately code right after here isnt functioning properly whoops  -->
        {{#if (commentUpdateClicked)}}
        <button data-comment="{{comment._id}}" id="{{comment._id}}" class="btn btn-outline-dark comment-update button">update</button>
        <button data-comment="{{comment._id}}" class="btn btn-danger comment-delete button">delete</button>
        {{else}}
      <form data-comment="{{comment._id}}" class='update-form-comment'>
        <input type="text" name="comment[text]" placeholder="old comment">
        <input type="submit" class="button">
      </form>
        {{/if}}
      {{/if}}
  </div>
  {{/if}}
  {{/each}}
  </div>
  </section>
  {{else}}
  <section data-blog="{{blog._id}}">
    <div class="card" style="width: 1000px; height: 290px;">
      <div id="card-display" class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text blog-text">{{blog.text}}</p>
      </div>
      {{#each ../comments as |comment|}}
      <div data-id="{{comment._id}}">
        <div id="{{this._id}}" class="tiny">
          {{this.owner.email}}
          <br>
          {{this.text}}
      {{/each}}
    </div>
    </div>
  </div>
  </section>
  {{/if}}
{{/each}}
