  {{log data.blog}}
  <section data-blog="{{blog._id}}">
    <div class="card" style="width: 1000px;">
      <h5 class="card-title">{{data.blog.title}}
      <span class="card-title-span">by: {{data.blog.owner}} - {{howLongAgo data.blog.createdAt}}</span></h5>
      <div id="card-display" class="card-body">
        <p class="card-text blog-text">{{data.blog.text}}</p>
        </div>
      <div id="loggedInButtonWrapper" class="loggedInButtonWrapper">
        {{#if (blogOwned data.blog.owner._id)}}
        <div>
          <button class="button">update</button>
          <form data-blog="{{data.blog._id}}" class='update-form'>
            <input type="text" name="blog[title]" placeholder="old title" class="update-blog-form">
            <input type="text" name="blog[text]" placeholder="old text" class="update-blog-form">
            <input type="submit" class="button">
          </form>
          <button data-blog="{{data.blog._id}}" class="btn btn-danger blog-delete button">delete</button>

        </div>
      {{/if}}
  </div>
    </div>
    {{#if (loggedIn)}}
    <div>
      <form data-blog="{{data.blog._id}}" class="create-comment-form">
        <input type="text" name="comment[text]" placeholder="comment here" maxlength="65">
        <input type="submit" class="button">
      </form>
    </div>
    {{/if}}
    <div class="comment-section">
      {{#each data.comments as |comment|}}
        <span class="comment-single-view"><p class="p-single-view">{{comment.owner}} - {{howLongAgo comment.createdAt}}</p></span>
      <p class="comment-text-single-view">{{comment.text}}</p>
      {{/each}}
    </div>
  </div>
    </section>
<div class="back-to-view">
  <a href="#" class="right-x">x</a>
</div>
