{{#each blogs as |blog|}}
  {{#if (loggedIn)}}
  <section data-blog="{{blog._id}}">
    <div class="card" style="width: 1000px; height: 290px;">
      <div id="card-display" class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text blog-text">{{limit blog.text 35}}</p>
      </div>
      <div id="loggedInButtonWrapper" class="loggedInButtonWrapper">
        {{#if (blogOwned blog.owner)}}
    <button data-blog="{{blog._id}}" class="btn btn-outline-dark blog-update">Update</button>
    <form data-blog="{{blog._id}}" class='update-form'>
      <input type="text" name="blog[title]" placeholder="old title">
      <input type="text" name="blog[text]" placeholder="old text">
      <input type="submit">
    </form>
    <button data-blog="{{blog._id}}" class="btn btn-danger">delete</button>
    {{/if}}
    <button data-blog="{{blog.id}}" class="comments-button btn btn-outline-dark commentHeight">Comments</button>
  </div>
  </div>
  </section>
  {{else}}
  <section data-blog="{{blog._id}}">
    <div class="card" style="width: 1000px; height: 290px;">
      <div id="card-display" class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text blog-text">{{limit blog.text 35}}</p>
      </div>
      <div data-blog="{{blog.id}}" id={{blog._id}} class="comments-button btn btn-outline-dark commentHeight">Comments</div>
  </div>
  </section>
  {{/if}}
{{/each}}
