{{#each blogs as |blog|}}
  {{#if loggedIn}}
  <section data-id="{{blog._id}}">
    <div class="card" style="width: 1000px; height: 290px;">
      <div id="card-display" class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text blog-text">{{limit blog.text 35}}</p>
      </div>
      <div id="loggedInButtonWrapper" class="loggedInButtonWrapper">
        {{#if blogOwned}}
    <button data-id="{{blog.id}}" class="btn btn-outline-dark">Update</button>
        {{/if}}
    <button data-id="{{blog.id}}" class="comments-button btn btn-outline-dark">Comments</button>
  </div>
  </div>
  </section>
  {{else}}
  <section data-id="{{blog._id}}">
    <div class="card" style="width: 1000px; height: 290px;">
      <div id="card-display" class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text blog-text">{{limit blog.text 35}}</p>
      </div>
    <button data-id="{{blog.id}}" class="comments-button btn btn-outline-dark">Comments</button>
    <div id="comments-div" class="comments-body">
      <p id="comment-text-space" class="comments-text"> </p>
    </div>
  </div>
  </section>
  {{/if}}
{{/each}}
