{{#each blogs as |blog|}}
  {{#if (notLoggedIn)}}
  <section data-blog="{{blog._id}}">
    <div class="card" style="width: 1000px;">
      <h5 class="card-title">{{blog.title}}
      <span class="card-title-span">by: {{blog.owner}} on {{convertTime blog.createdAt}}</span></h5>
      <div id="card-display" class="card-body">
        <p class="card-text blog-text">{{blog.text}}</p>
      </div>
      <div class="view-comments" data-blog-comment="{{blog._id}}"><a href="#">view comments({{blog.comments.length}})</a></div>
    </div>
    </div>
    </div>
  </div>
  </section>
  {{/if}}
{{/each}}
