{{#each blogs as |blog|}}
  {{#each blog.username as |username|}}
  {{#if (loggedIn)}}
  <section data-blog="{{blog._id}}">
    <div class="card" style="width: 1000px;">
      <h5 class="card-title">{{blog.title}}
      <span class="card-title-span">by: {{username.username}} - {{howLongAgo blog.createdAt}}</span></h5>
      <div id="card-display" class="card-body">
        <p class="card-text blog-text">{{blog.text}}</p>
        </div>
          <div>
            {{#if (smashedLike blog.likes)}}
            <i data-like="{{blog._id}}" class="fas fa-thumbs-up"></i>
            {{else}}
            <i data-like="{{blog._id}}" class="far fa-thumbs-up"></i>
            {{/if}}
        </div>
    <div class="view-comments" data-blog-comment="{{blog._id}}"><a href="#">view comments({{blog.comments.length}})</a></div>
  </div>
  <div>
      </div>
    </div>
  </div>
    </section>
    {{/if}}
    {{/each}}
    {{/each}}
